<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdest.hcue"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC_5l0s-C80d8oyiqx9ElXRBTjjnMvRYGw"/>

        <activity
            android:name="com.appdest.hcue.SplashActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appdest.hcue.SelectDoctorActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.RegistrationActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.WelcomeActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.EnterContactNumberActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.ChoosePatientActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.ConfirmationSummaryActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.EnterMailActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.FeedbackActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.ConfirmationFullViewActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.appdest.hcue.ChooseAppointmentActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.CancelAppointmentActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.ConfirmCancelationActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.CancelationSummaryActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.AdditionalCommentsActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.EnterAddressActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.AdminLoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.AdminChooseHospital"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.AdminChooseDoctors"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.appdest.hcue.AdminConfirmation"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.appdest.hcue.FeedbackConfirmationActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.appdest.hcue.ChoosePatientAppointmentActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>

       
    </application>

</manifest>
